.actorPage {
    width: 100%;
    height: auto; 

    
    padding: 1rem;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: pink;
    overflow-y: auto;
    
 
}
.headder {
    height: auto;
}
.middle {
    display: flex;
    align-items: center;
}
.imgDiv {
    width: 300px;

}
.imgDiv img{
    width: 100%;
}
.headder h2 {
    font-size: 32px;
}
.headder p {
    text-align: center  ;
}
