@import "./setup.css";

#admin-panel {
	width: 100%;
	max-width: 100%;
	max-height: 100vh;
	height: 100vh;
	overflow-y: scroll;
	font-family: sans-serif;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.admin-header-wrapper {
	width: 100%;

	margin-top: 30px;
	margin-bottom: 30px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.admin-header-wrapper > button {
	border: none;
	padding: 10px 20px;

	border-radius: 20px;

	background-color: white;

	box-shadow: inset 2px 2px 2px #eaeaea, inset -2px -2px 2px #eaeaea;

	cursor: pointer;

	transition: transform 0.5s ease-in-out;
}

.admin-header-wrapper > button:hover {
	transform: scale(105%);
}

.table {
	display: inline-grid;
	max-width: 80%;
	gap: 10px;
	max-height: 500px;
}

.head-row,
.row {
	display: grid;
	grid-auto-columns: auto;
	grid-auto-flow: column;

	text-align: start;
	gap: 50px;
	padding: 10px;
	align-items: center;

	background: white;
	border-radius: 10px;
	box-shadow: inset 2px 2px 2px #eaeaea, inset -2px -2px 2px #eaeaea;
}

.head-row {
	font-weight: bold;
	background: #f0f0f0;
}

.row .delete-button {
	background: transparent;
	border: none;

	display: flex;
	justify-content: end;

	cursor: pointer;
}

@media (max-width: 800px) {
	#admin-panel {
		align-items: center;
	}
}

.table-button {
	border: none;
	cursor: pointer;
	background: transparent;
}

.table-button:hover {
	border-bottom: 1px solid black;
}

.button-wrapper {
	padding: 5px 10px;

	display: flex;
	gap: 10px;
}

.add-wrapper {
	position: absolute;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	max-width: 400px;
	width: 80%;
	height: max-content;

	gap: 10px;

	background-color: white;
	border-radius: 30px;
	box-shadow: 10px 10px 10px black;
}

.add-wrapper input {
	width: 80%;
	padding: 10px 15px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	box-sizing: border-box;
	transition: border-color 0.3s ease;
}

.add-wrapper input:focus {
	border-color: #5e6063;
	box-shadow: 0 0 5px rgba(193, 195, 196, 0.5);
}

.add-wrapper button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: black;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.add-wrapper button:hover {
	background-color: #343537;
}
