@import url("setup.css");


.dashboard {
    width: var(--dashboard-width);
    height: 90%;

    border-radius: 50px;

    background-color: var(--primary-color);
    box-shadow: inset 4px 4px 12px rgb(170, 168, 170), inset -4px -4px 12px white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--font-size-large);
}