/** @format */

@import "./setup.css";

.dashboard {
	width: calc(100% - var(--navbar-width));
	height: 95%;

	margin: auto;

	display: flex;
	padding-left: 20px;
	padding-right: 20px;
	background-color: var(--dashboard-fill-color);

	font-size: var(--font-size-large);

	transition: opacity 0.3s ease;
}

@media (max-width: 1024px) {
	.dashboard {
		width: 100vw;
	}
}
