@import "./setup.css";

.login-form {
    background-color: var(--navbar-fill-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: var(--login-form-width);
    height: var(--login-form-height);

    border-radius: 20px;
    text-align: center;

}
.form-button {
    width: 40%;
    height: 35px;

    background-color: var( --nav-item-fill-color);

    border: none;
    border-radius: 10px;


}
.form-input {
    width: 70%;
    height: 35px;

    background-color: var(--nav-icon-fill-color);
    border: none;
    border-radius: 10px;

    padding-left: 10px;
}

.login-form h2 {
    text-align: center;

    color: var(--logo-text-color);
    font-size: var(--font-size-large);
    margin: 0;
}