:root {

    --navbar-width: 250px;
    --dashboard-width: calc(100vw - var(--navbar-width) - 50px);


    --dashboard-fill-color: #FFFFFF;

    --primary-color: white;
    --secondary-color: #26282b;

    --navbar-fill-color: #F1F2F7;
    --nav-item-fill-color: #CED1D8;
    --navbar-hover-fill-color: #E4E6F4;
    --nav-icon-fill-color: #C4C7DB;

    --logo-text-color: #5A67BA;

    --searchbar-fill-color: #F5F6FB;

    --chart-fill-color: #2c2c2c;

    --border-fill-color: #c3c3c3;


    --font-size-small: 12px;
    --font-size-medium: 28px;
    --font-size-large: 24px;

    --login-form-width: 300px;
    --login-form-height: 400px;
}